
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

//www.domain.com/product.aspx?id=1&catid=2
//www.domain.com/product.aspx?id=2&catid=3
//www.domain.com/product.aspx?id=3&catid=4

www.domain.com/product/3/4


