@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h2>Welcome to the Entity Framework Core</h2>
<br />
<br />
<h3>This sample projects demonstrate Crud Operations using Entity Framework</h3>